<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group col-12" *ngIf="userName">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="userName">
            <span *ngIf="!userName.valid && (userName.touched || userSubmitted)" class="error-block">
                please enter valid username
            </span>
        </div>

        <div class="form-group col-12" *ngIf="password">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && password.touched">
            <span *ngIf="!password.hasError('password')" class="error-block">
              please enter valid password(minLength - 6)
            </span>
          </span>
        </div>

      <br>
        <div class="form-group col-12">
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary m-4">Login</button>
          <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
        </div>

      </form>
    </div>
  </div>
  </div>
</div>



